<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-center">
                <span class="span">PACE PUBLIC SCHOOL </span>
                <span class="span">Main road tow-624032</span>
            </div>
        </div>
        <div class="content">
            <span class="span">IDENTITY CARD</span>
        </div>
        <div class="aside">

            <div class="aside-center">
            
                <div class="article"><span>Nom       : </span><span>NZOMUTCHA</span></div>
                <div class="article"><span>Prenom    : </span><span>SEVERIN</span></div>
                <div class="article"><span>Nee le    : </span><span>1990</span></div>
                <div class="article"><span>Classe    : </span><span>TLE C</span></div>
                <div class="article"><span>Matricule : </span><span>00000M28</span></div>
            
            </div>

            <div class="aside-right">
                <img src="Asset/I1.jpg" class="img-adapt" alt="">
            </div>
        </div>
        <div class="footer">
            <input type="text" disabled placeholder="signature principale">
        </div>
    </div>
</body>
<script src="js.js"></script>
</html>